# ===== Python =====
__pycache__/
*.pyc
*.pyo

# ===== Virtual Environments =====
venv/
.venv/
env/

# ===== OS Files =====
.DS_Store
Thumbs.db

# ===== IDEs =====
.vscode/
.idea/

# ===== ML Artifacts =====
logs/
runs/

# ===== Local config =====
.env
